<%- include('partials/header', { title: 'Room' }) %>
<script>
    const ROOM_ID = "<%= roomId %>"
</script>
<script defer src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="script.js" defer></script>
<!-- About Section-->
<section class="bg-light py-5">
    <div class="container px-5">
        <div id="share">
            <button type="button" class="btn btn-success" onclick="copyRoomUrl()">Get your room link</button>
        </div>
        <div id="video-grid"></div>
    </div>
</section>
<%- include('partials/footer') %>