<%- include('partials/header', { title: 'Home' }) %>
<script>
    const ROOM_ID = "<%= roomId %>"
</script>
<script defer src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.min.js" crossorigin="anonymous" defer></script>
<script src="script.js" defer></script>
<!-- About Section-->
<section class="bg-light py-5">
    <div class="container px-5">
        <div id="video-grid"></div>
    </div>
</section>
<%- include('partials/footer') %>